{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<title>Django Blog</title>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
	<header>
		<div class="nav-left">
			<h1><a href="{% url 'blog_home' %}">Django Blog</a></h1>
		</div>
		<div class="nav-right">
			<a href="{% url 'blog_post_new' %}">+ New Blog Post</a>
		</div>
	</header>
	{% if user.is_authenticated %}
		<p>Hi {{ user.username }}</p>
		<a href="{% url 'logout' %}">Logout</a>
	{% else %}
		<p>You are not logged in</p>
		<a href="{% url 'login' %}">Login</a>
	{% endif %}
	<div>
		{% block content %}
		{% endblock content%}
	</div>
</body>
</html>